.works__grid {
  max-width: 95vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
  gap: 5rem;
  overflow: hidden;
  padding: 3rem 0;
}

@media (max-width: 758px) {
  .works__grid {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
}
