.single-item {
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.15);
  border-radius: 5px;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  height: 100%;
}

.single-item:hover {
  transform: scale(1.05);
}

.single-item div {
  margin-right: auto;
}

.single-item img {
  object-fit: contain;
  max-width: 100%;
  max-height: 30rem;
  height: 100%;
}
.single-item h4 {
  margin-top: 1rem;
}

.single-item p {
  font-size: 1.5rem;
  color: var(--grey);
}

.single-item button {
  margin-left: auto;
}

@media (max-width: 758px) {
  .single-item {
    padding: 3rem;
  }
}
