.second-section {
  max-width: 130rem;
  width: 100%;
  margin: 5rem 0;
}

.second-section__wrapper {
  display: flex;
  justify-content: space-between;
}

.second-section__wrapper h3,
.second-section__wrapper h2 {
  margin-bottom: 1.5rem;
}

.left {
  margin-right: 2rem;
}

.second-section__wrapper div {
  max-width: 60rem;
  width: 100%;
}

.second-section img {
  max-width: 55rem;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
}

.second-section__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .second-section__wrapper {
    flex-wrap: wrap;
  }

  .left {
    margin-right: 0;
  }

  .second-section img {
    margin-top: 0;
  }
}
