@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --grey: #888888;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body,
input,
textarea,
button {
  font-family: 'Kanit', sans-serif;
  color: black;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  color: var(--grey);
}

h2,
h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  line-height: 30px;
  margin-bottom: 1rem;
}

p,
a {
  font-size: 1.8rem;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: rgb(92, 92, 92);
}

li {
  list-style: none;
}

.capitalized {
  font-size: 4rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 207, 207);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
